name: CI Pipeline

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  run-linters:
    name: Run linters
    runs-on: ubuntu-latest

    steps:
    - name: Super-Linter
      uses: super-linter/super-linter@v5.7.2
          
  docker-image:
    name: Dockerization
    runs-on: ubuntu-latest

    steps:   
    - name: Build and Push Docker Image
      uses: mr-smithers-excellent/docker-build-push@v4
      with:
        image: hussamgamal/nide
        registry: docker.io
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        dockerfile: Dockerfile 
